* {
  color: black;
}

a:link {
    text-decoration: none;
}

li a:hover {
    color: red;
    transform: scale(1.5, 1.5);
    opacity: 1;
}

body {
  background-color: #2f363d;
}

img {
  border-radius: 3px;
}
ul {
  text-align: center;
}
ul li {
    list-style-type: none;
    display:inline;
}

.movie {
  float:left;
  width: 350px;
  height: 580px;
  position:relative;
  margin: 5px;
  text-align: center;
}

.edit {
  position: absolute;
  bottom:   0;
}
